dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;

    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a {
    color: #f05f40;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}