.text-white {
    color: #fff!important;
}

.text-center {
    text-align: center!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.text-faded {
    color: rgba(255,255,255,.7);
}