<div class="row">
    <div class="col-md-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="javascript:void(0);">Home</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
    <div class="col-md-8 ">
        <div class="top-content">
            <ul class="list-inline mini-stat">
                <li>
                    <h5>LIKES <span class="stat-value stat-color-orange"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
                    <span id="mini-bar-chart1" class="mini-bar-chart"><canvas width="53" height="25" style="display: inline-block; vertical-align: top; width: 53px; height: 25px;"></canvas></span>
                </li>
                <li>
                    <h5>SUBSCRIBERS <span class="stat-value stat-color-blue"><i class="fa fa-plus-circle"></i> 150,743</span></h5>
                    <span id="mini-bar-chart2" class="mini-bar-chart"><canvas width="53" height="25" style="display: inline-block; vertical-align: top; width: 53px; height: 25px;"></canvas></span>
                </li>
                <li>
                    <h5>CUSTOMERS <span class="stat-value stat-color-seagreen"><i class="fa fa-plus-circle"></i> 43,748</span></h5>
                    <span id="mini-bar-chart3" class="mini-bar-chart"><canvas width="53" height="25" style="display: inline-block; vertical-align: top; width: 53px; height: 25px;"></canvas></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="main-header">
        <h2>DASHBOARD</h2>
        <em>the first priority information</em>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-md-9">
                <!-- WIDGET NO HEADER -->
                <div class="widget widget-hide-header">
                    <div class="widget-header hide">
                        <h3>Summary Info</h3>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="easy-pie-chart green" data-percent="70">
                                    <span class="percent">70%</span>
                                    <canvas height="110" width="110"></canvas>
                                </div>
                                <p class="text-center">Task Completion</p>
                            </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart red" data-percent="22">
                                    <span class="percent">22%</span>
                                    <canvas height="110" width="110"></canvas>
                                </div>
                                <p class="text-center">Overall Project Completion</p>
                            </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart yellow" data-percent="65">
                                    <span class="percent">65%</span>
                                    <canvas height="110" width="110"></canvas>
                                </div>
                                <p class="text-center">Disk Space Used</p>
                            </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart red" data-percent="87">
                                    <span class="percent">87%</span>
                                    <canvas height="110" width="110"></canvas>
                                </div>
                                <p class="text-center">Bandwidth Used</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- WIDGET NO HEADER -->
            </div>
            <div class="col-md-3">
                <!-- WIDGET REMINDER -->
                <div class="widget widget-hide-header widget-reminder">
                    <div class="widget-header hide">
                        <h3>Today's Reminder</h3>
                    </div>
                    <div class="widget-content">
                        <div class="today-reminder">
                            <h4 class="reminder-title">Project Meeting</h4>
                            <p class="reminder-time"><i class="fa fa-clock-o"></i> 9:00 AM</p>
                            <p class="reminder-place">War Room</p>
                            <em class="reminder-notes">Bring weekly report summary</em>
                            <i class="fa fa-bell"></i>
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-warning"><i class="fa fa-cloud-upload"></i> Sync</button>
                                <div class="btn-group  btn-group-xs">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Remind Me <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#">15 minutes later</a></li>
                                        <li><a href="#">30 minutes later</a></li>
                                        <li><a href="#">1 hour later</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET REMINDER -->
            </div>
        </div>
    </div>
    <div class="main-header">
        <h2>Form Layouts</h2>
        <em>form layouts library</em>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-md-6">
                <!-- SUPPOR TICKET FORM -->
                <div class="widget">
                    <div class="widget-header">
                        <h3><i class="fa fa-edit"></i> Submit a Ticket</h3>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal" role="form">
                            <fieldset>
                                <legend>General Information</legend>
                                <div class="form-group">
                                    <label for="ticket-type" class="col-sm-3 control-label">Type</label>
                                    <div class="col-sm-9">
                                        <select id="ticket-type" name="ticket-type" class="select-ticket-type" style="display: none;">
                                            <option value="technical-support">Technical Support</option>
                                            <option value="general-info">General Info</option>
                                            <option value="sales-inquiry">Sales Inquiry</option>
                                            <option value="billing">Billing</option>
                                        </select>
                                        <div class="btn-group">
                                            <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="Technical Support">Technical Support <b class="caret"></b></button>
                                            <ul class="multiselect-container dropdown-menu">
                                                <li class="active">
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="technical-support"> Technical Support</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="general-info"> General Info</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="sales-inquiry"> Sales Inquiry</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="billing"> Billing</label>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ticket-name" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="ticket-name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ticket-email" class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="ticket-email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ticket-priority" class="col-sm-3 control-label">Priority</label>
                                    <div class="col-sm-9">
                                        <select id="ticket-priority" name="ticket-priority" class="select-ticket-priority" style="display: none;">
                                            <option value="low">Low</option>
                                            <option value="medium">Medium</option>
                                            <option value="high">High</option>
                                            <option value="urgent">Urgent</option>
                                            <option value="emergency">Emergency</option>
                                            <option value="critical">Critical</option>
                                        </select>
                                        <div class="btn-group">
                                            <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="Low">Low <b class="caret"></b></button>
                                            <ul class="multiselect-container dropdown-menu">
                                                <li class="active">
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="low"> Low</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="medium"> Medium</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="high"> High</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="urgent"> Urgent</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="emergency"> Emergency</label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <label class="radio">
                                                            <input type="radio" value="critical"> Critical</label>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Your Message</legend>
                                <div class="form-group">
                                    <label for="ticket-subject" class="col-sm-3 control-label">Subject</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="ticket-subject" id="ticket-subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ticket-message" class="col-sm-3 control-label">Message</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="ticket-message" id="ticket-message" rows="5" cols="30" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ticket-attachment" class="col-sm-3 control-label">Attach File</label>
                                    <div class="col-md-9">
                                        <input type="file" id="ticket-attachment">
                                        <p class="help-block"><em>Valid file type: .jpg, .png, .txt, .pdf. File size max: 1 MB</em></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-primary btn-block">Submit Message</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <!-- END SUPPORT TICKET FORM -->
            </div>
            <div class="col-md-6">
                <!-- REGISTRATION FORM WITH ICONS -->
                <div class="widget">
                    <div class="widget-header">
                        <h3><i class="fa fa-edit"></i> Registration Form with Icons</h3>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="username" class="control-label sr-only">Username</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="username" placeholder="Username">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label sr-only">Email</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label sr-only">Password</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="password" placeholder="Password">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password2" class="control-label sr-only">Repeat Password</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="password2" placeholder="Repeat Password">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 fancy-checkbox">
                                    <input type="checkbox">
                                    <span>Subscribe me to the newsletter to get more about further deals</span>
                                </label>
                                <label class="col-sm-12 fancy-checkbox">
                                    <input type="checkbox">
                                    <span>I accept the <a href="#">Terms &amp; Agreement</a></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END REGISTRATION FORM WITH ICONS -->
                <!-- REGISTRATION FORM -->
                <div class="widget">
                    <div class="widget-header">
                        <h3><i class="fa fa-edit"></i> Registration Form</h3>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="username2" class="control-label sr-only">Username</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="username2" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email2" class="control-label sr-only">Email</label>
                                <div class="col-sm-12">
                                    <input type="email" class="form-control" id="email2" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password3" class="control-label sr-only">Password</label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" id="password3" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password3b" class="control-label sr-only">Repeat Password</label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" id="password3b" placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 fancy-checkbox">
                                    <input type="checkbox">
                                    <span>Subscribe me to the newsletter to get more about further deals</span>
                                </label>
                                <label class="col-sm-12 fancy-checkbox">
                                    <input type="checkbox">
                                    <span>I accept the <a href="#">Terms &amp; Agreement</a></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-default">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END REGISTRATION FORM -->
            </div>
        </div>
        <!-- CONTACT FORM -->
        <div class="widget">
            <div class="widget-header">
                <h3><i class="fa fa-edit"></i> Contact Form</h3>
            </div>
            <div class="widget-content">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contact-name" class="control-label sr-only">Name</label>
                                <input type="text" class="form-control" id="contact-name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contact-email" class="control-label sr-only">Email</label>
                                <input type="email" class="form-control" id="contact-email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-subject" class="control-label sr-only">Subject</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="contact-subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-message" class="control-label sr-only">Message</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" name="contact-message" id="contact-message" rows="5" cols="30" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Submit Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END CONTACT FORM -->
        <!-- INLINE FORM -->
        <div class="widget">
            <div class="widget-header">
                <h3><i class="fa fa-edit"></i> Inline Form</h3>
            </div>
            <div class="widget-content">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    </div>
                    <label class="control-inline fancy-checkbox">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </label>
                    <button type="submit" class="btn btn-default">Sign in</button>
                </form>
            </div>
        </div>
        <!-- END INLINE FORM -->
        <!-- HORIZONTAL FORM -->
        <div class="widget">
            <div class="widget-header">
                <h3><i class="fa fa-edit"></i> Horizontal Form</h3>
            </div>
            <div class="widget-content">
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <label class="control-inline fancy-checkbox">
                                        <input type="checkbox">
                                        <span>Remember me</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputEmail4" class="control-label sr-only">Email</label>
                                <div class="col-sm-12">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4" class="control-label sr-only">Password</label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 fancy-checkbox">
                                    <input type="checkbox">
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HORIZONTAL FORM -->
    </div>
</div>
