<ul class="main-menu">
    <li class="active">
        <a href="#" class="js-sub-menu-toggle">
            <i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span>
            <i class="toggle-icon fa fa-angle-left"></i>
        </a>
        <ul class="sub-menu open">
            <li class="active"><a href="index.html"><span class="text">Dashboard v1</span></a></li>
            <li><a href="index-dashboard-v2.html"><span class="text">Dashboard v2 <span class="badge element-bg-color-blue">New</span></span></a></li>
        </ul>
    </li>
</ul>
