<ul class="main-menu">
    <li class="active">
        <a href="javascript:void(0);" class="js-sub-menu-toggle">
            <i class="fa fa-dashboard fa-fw"></i><span class="text">Customer</span>
            <i class="toggle-icon fa fa-angle-left"></i>
        </a>
        <ul class="sub-menu open">
            <li class="active"><a href="javascript:void(0);"><span class="text">Customer Statics</span></a></li>
            <li><a href="javascript:void(0);"><span class="text">Customer Reports</span></a></li>
        </ul>
        <a href="javascript:void(0);" class="js-sub-menu-toggle">
            <i class="fa fa-dashboard fa-fw"></i><span class="text">Customer</span>
            <i class="toggle-icon fa fa-angle-left"></i>
        </a>
    </li>
</ul>
