<div class="row">
    <div class="col-md-2 logo">
        <i class="fa fa-bed"></i> Admin Dashboard
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <div id="tour-searchbox" class="input-group searchbox">
                    <input type="search" class="form-control" placeholder="enter keyword here...">
                    <span class="input-group-btn">
						<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
					</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="top-bar-right">
                    <div class="logged-user">
                        <div class="btn-group">
                            <a href="javascript:void(0);" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="theme/project/img/user-avatar.png" alt="User Avatar">
                                <span class="name">Administrator</span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-user"></i>
                                        <span class="text">Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-cog"></i>
                                        <span class="text">Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-power-off"></i>
                                        <span class="text">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
