.container {
    @include breakpoint-min($bp-small) {
        max-width: 540px;
    }
    @include breakpoint-min($bp-medium) {
        max-width: 720px;
    }
    @include breakpoint-min($bp-large) {
        max-width: 960px;
    }
    @include breakpoint-min($bp-xlarge) {
        max-width: 1140px;
    }
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-10 {
    @include breakpoint-min($bp-large) {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}