<p>
    <a href="index.html">
        <img src="theme/project/img/cloud.jpg" width="80" alt="Cloud'">
    </a>
</p>
<ul class="social">
    <li>
        <a href="#" title="Twitter Profile"><span class="icon fa fa-twitter"></span></a>
    </li>
    <li>
        <a href="#" title="Facebook Page"><span class="icon fa fa-facebook"></span></a>
    </li>
    <li>
        <a href="#" title="LinkedIn Profile"><span class="icon fa fa-linkedin"></span></a>
    </li>
    <li>
        <a href="#" title="Google+ Profile"><span class="icon fa fa-google-plus"></span></a>
    </li>
    <li>
        <a href="#" title="GitHub Profile"><span class="icon fa fa-github-alt"></span></a>
    </li>
</ul>
