<div class="container">
    <a class="banner-brand visible-md visible-lg" href="index.html">
        <img src="theme/project/img/cloud.jpg" alt="Bootstrappin'" width="180">
    </a>
    <div class="utility-nav">
        <ul>
            <li>
                <a href="#" title="Login or Register">
                    <i class="icon fa fa-user fa-lg"></i><span> Log In or Register</span>
                </a>
            </li>
            <li>
                <a href="#" title="View Cart">
                    <i class="icon fa fa-shopping-cart fa-lg"></i><span> View Cart</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<nav role="navigation" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs visible-sm" href="#">
                <img src="theme/project/img/cloud.jpg" alt="Bootstrappin'" width="120">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon fa fa-trash"></span> Old <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#Homepage">Homepage</a>
                        </li>
                        <li>
                            <a href="#Products">Products</a>
                        </li>
                        <li>
                            <a href="#Marketing">Marketing</a>
                        </li>
                        <li>
                            <a href="#Tour">Tour</a>
                        </li>
                        <li>
                            <a href="#Stock">Stock</a>
                        </li>
                        <li>
                            <a href="#Admin">Admin</a>
                        </li>
                        <li>
                            <a href="#Cloud">Cloud</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon fa fa-anchor"></span> D3 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#BubbleChart">BubbleChart</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon fa fa-database"></span> DB <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#Indexed">IndexedDB</a>
                        </li>
                        <li>
                            <a href="#Pouch">PouchDB</a>
                        </li>
                        <li>
                            <a href="#LocalForage">LocalForageDB</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon fa fa-creative-commons"></span> Themes <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#Creative">Creative</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        All Departments <b class="caret"></b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
