<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="javascript:void(0);">
            <i class="fa fa-dashboard"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="#Creative"><i class="fa fa-circle-o"></i> Creative</a></li>
            <li><a href="#Ecommerce"><i class="fa fa-circle-o"></i> Ecommerce</a></li>
            <li><a href="#ControlPanel"><i class="fa fa-circle-o"></i> ControlPanel</a></li>
            <li><a href="#Marketing"><i class="fa fa-circle-o"></i> Marketing</a></li>
        </ul>
    </li>
    <li class="active treeview">
        <a href="javascript:void(0);">
            <i class="fa fa-database"></i> <span>Database</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="#Database"><i class="fa fa-circle-o"></i> Database</a></li>
        </ul>
    </li>
</ul>
