<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="javascript:void(0);">
            <i class="fa fa-dashboard"></i> <span>Demo</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="#Creative"><i class="fa fa-circle-o"></i> Creative</a></li>
            <li><a href="#Homepage"><i class="fa fa-circle-o"></i> Homepage</a></li>
<!--             <li><a href="#Products"><i class="fa fa-circle-o"></i> Products</a></li>
            <li><a href="#Marketing"><i class="fa fa-circle-o"></i> Marketing</a></li>
            <li><a href="#Tour"><i class="fa fa-circle-o"></i> Tour</a></li>
            <li><a href="#Stock"><i class="fa fa-circle-o"></i> Stock</a></li>
            <li><a href="#Stock"><i class="fa fa-circle-o"></i> Stock</a></li>
            <li><a href="#Admin"><i class="fa fa-circle-o"></i> Admin</a></li>
            <li><a href="#Cloud"><i class="fa fa-circle-o"></i> Cloud</a></li>
            <li><a href="#BubbleChart"><i class="fa fa-circle-o"></i> BubbleChart</a></li>
            <li><a href="#Indexed"><i class="fa fa-circle-o"></i> Indexed</a></li>
            <li><a href="#Pouch"><i class="fa fa-circle-o"></i> Pouch</a></li>
            <li><a href="#LocalForage"><i class="fa fa-circle-o"></i> LocalForage</a></li>
            <li><a href="#Table"><i class="fa fa-circle-o"></i> Table</a></li>
            <li><a href="#Dianping"><i class="fa fa-circle-o"></i> Dianping</a></li>
            <li><a href="#Dashboard"><i class="fa fa-circle-o"></i> Dashboard</a></li>
            <li><a href="#SignIn"><i class="fa fa-circle-o"></i> SignIn</a></li> -->
        </ul>
    </li>
</ul>
