<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Login</h1>
    </div>
    <div class="modal-body">
        <form class="form center-block">
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Email">
                <p class="help-block"></p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password">
                <p class="help-block"></p>
            </div>
            <div class="form-group">
                <span class="btn btn-primary btn-lg btn-block">Sign In</span>
                <span id="register" class="pull-right"><a href="javascript:void(0);">Register</a></span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
