header.masthead {
    @include breakpoint-min($bp-large) {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
    h1 {
        font-size: 2rem;
        @include breakpoint-min($bp-xlarge) {
            font-size: 4rem;
        }
        @include breakpoint-min($bp-large) {
            font-size: 3rem;
        }
    }
    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    p {
        font-weight: 300;
        @include breakpoint-min($bp-medium) {
            font-size: 1.15rem;
        }
    }
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(../img/header.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}