.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

.top-bar {
    padding: 5px 0;
    background-color: #1fa67a;
}

.top-bar .logo {
    position: relative;
    top: 7px;
}

.top-bar .top-bar-right {
    float: right;
    position: relative;
    top: 2px;
}

.top-bar .logged-user {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.left-sidebar {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-right: 0;
    padding-left: 0;
    display: block !important;
    overflow: visible !important;
}

.bottom .container .content-wrapper {
    background-color: #f1f1f1;
    border-left: 1px solid #e4e4e4;
}

.content-wrapper {
    padding: 15px 30px;
}

.content-wrapper {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bottom .container {
    max-width: 100%;
    width: 100%;
}

ul.main-menu {
    padding-left: 0;
    list-style-type: none;
}

ul.main-menu>li:first-child>a {
    border-top: none;
}

ul.main-menu>li>a,
.content-wrapper {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul.main-menu>li a {
    display: block;
    position: relative;
    padding: 10px 0 10px 15px;
    color: #555;
    background-color: #ececec;
    border-top: 1px solid #dfdfdf;
    text-decoration: none;
}

ul.main-menu .sub-menu.open {
    overflow: hidden;
    display: block;
}

ul.main-menu .sub-menu {
    position: relative;
    display: none;
    padding-left: 0;
}

ul.main-menu>li .toggle-icon {
    font-size: 14px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 13px;
    text-shadow: none;
}

ul.main-menu>li i {
    width: 14px;
    text-align: center;
}

.badge {
    font-weight: 400;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.badge.element-bg-color-blue {
    background-color: #1D92AF;
}

ul.main-menu>li .text {
    padding-left: 8px;
    font-size: 0.9em;
}

ul.main-menu .sub-menu li a {
    padding-left: 33px;
}

ul.main-menu .sub-menu li.active>a {
    font-weight: 700;
}

ul.main-menu>li.active>a {
    font-weight: 700;
    background-color: #dfdfdf;
}
