@import "mixins.less";
.creative {
    // Homepage Header
    header {
        position: relative;
        width: 100%;
        min-height: auto;
        .background-cover;
        background-position: center;
        background-image: url('../img/header.jpg');
        text-align: center;
        color: white;
        .header-content {
            position: relative;
            text-align: center;
            padding: 100px 15px 100px;
            width: 100%;
            .header-content-inner {
                h1 {
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                hr {
                    margin: 30px auto;
                }
                p {
                    font-weight: 300;
                    color: fade(white, 70%);
                    font-size: 16px;
                    margin-bottom: 50px;
                }
            }
        }
        @media (min-width: 768px) {
            min-height: 100%;
            .header-content {
                position: relative;
                padding: 100px 15px 100px;
                .header-content-inner {
                    max-width: 1000px;
                    margin-left: auto;
                    margin-right: auto;
                    p {
                        font-size: 18px;
                        max-width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
