@brand-secondary: #5cb85c;
@brand-tertiary: #d9534f;
.marketing {
    .content-primary {
        font-size: @font-size-large;
    }
    .content-tertiary {
        font-size: @font-size-small;
    }
    #welcome {
        height: 300px;
        background-color: #191919;
        color: #fff;
        position: relative;
        .btn {
            margin-top: 16px;
        }
        .welcome-message {
            background-color: hsla(0, 0, 1%, 0.4);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 30px 40px;
            strong {
                font-size: 1.5em;
                text-transform: uppercase
            }
        }
        @media (max-width: @screen-sm-max) {
            background: #191919 url('../img/subway-906x600.jpg') center center no-repeat;
        }
        @media (min-width: @screen-sm-min) {
            height: 480px;
            .container {
                position: relative;
            }
            .welcome-message {
                right: 20%;
                bottom: auto;
                strong {
                    display: block;
                }
            }
        }
        @media (min-width: @screen-md-min) {
            height: 540px;
            background: #191919 url('../img/subway-1600x1060.jpg') center center no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            .welcome-message {
                right: 50%;
            }
        }
    }
    #features {
        .features-item {
            text-align: center;
            padding: 20px;
            height: 270px;
            .icon {
                font-size: 90px;
            }
            @media (max-width: @screen-xs-max) {
                max-width: 320px;
                .center-block();
            }
        }
    }
    #impact {
        .hreview {
            position: relative;
            padding: 0 10px;
            border: none;
            .caption {
                position: absolute;
                top: auto;
                left: 10px;
                right: 10px;
                bottom: 0;
                line-height: 1.1;
                background: hsla(0, 0, 10%, 0.55);
                blockquote,
                .reviewer {
                    margin: 0 6px;
                    padding: 0;
                }
                blockquote {
                    margin-top: 4px;
                    border: none;
                    font-family: @font-family-serif;
                    font-size: @font-size-large;
                    color: #fff;
                }
                .reviewer {
                    margin-top: 2px;
                    margin-bottom: 4px;
                    text-align: right;
                    color: @gray-lighter;
                }
            }
        }
        .review-item-1 .caption {
            top: 0;
            left: 10px;
            right: 17%;
            bottom: auto;
        }
        .review-item-3 .caption {
            top: 80%;
            left: 17%;
            right: 10px;
            bottom: auto;
        }
        .review-item-4 .caption {
            top: 0;
            left: 62%;
            right: 10px;
            bottom: auto;
            .reviewer {
                margin-top: 6px;
                text-align: left;
            }
        }
        .review-item-5 .caption {
            top: 0;
            left: 17%;
            right: 10px;
            bottom: auto;
        }
        .review-item-6 .caption {
            top: 0;
            left: 10px;
            right: 62%;
            bottom: auto;
            .reviewer {
                margin-top: 6px;
                text-align: left;
            }
        }
        .review-item-7 .caption {
            top: 0;
            left: 62%;
            right: 10px;
            bottom: auto;
            .reviewer {
                margin-top: 6px;
                text-align: left;
            }
        }
        @media (min-width: @screen-md-min) {
            .review-item-4 {
                display: none;
            }
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            .review-item-5 {
                height: 474px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
        @media (max-width: @screen-xs-max) {
            .reviews {
                max-width: 400px;
                .center-block();
            }
        }
    }
    #signup {
        table {
            boarder: 1px solid @table-border-color;
            thead th {
                text-align: center;
                background-color: @gray-light;
                color: #fff;
                padding-top: 12px;
                padding-bottom: 32px;
                h2 {
                    text-transform: uppercase;
                }
            }
            tbody {
                td {
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
            .price {
                font-size: 7em;
                line-height: 1;
                margin-left: -0.25em;
                span {
                    font-size: .5em;
                    vertical-align: super;
                }
            }
            a.btn {
                .btn-lg;
                display: block;
                width: 100%;
                background-color: @gray-light;
                color: #fff;
            }
        }
        .package-basic table {
            thead th {
                background-color: @brand-primary;
            }
            .btn {
                .button-variant(#fff;
                @brand-primary;
                darken(@brand-primary,
                5%));
            }
        }
        .package-premium table {
            thead th {
                background-color: @brand-secondary;
            }
            .btn {
                .button-variant(#fff;
                @brand-secondary;
                darken(@brand-secondary,
                5%));
            }
        }
        .package-pro table {
            thead th {
                background-color: @brand-tertiary;
            }
            .btn {
                .button-variant(#fff;
                @brand-tertiary;
                darken(@brand-tertiary,
                5%));
            }
        }
    }
}
