<!--
author: zqqiang
-->
<!-- menu node template -->
<script id="node-template" type="text/x-handlebars-template">
<li><a href="#{{nodeName}}">{{nodeName}}</a></li>
</script>
<!-- table template -->
<script id="row-template" type="text/template">
<td>
	{{username}}
</td>
<td>
	{{fullname}}
</td>
</script>
<script id="grid-template" type="text/template">
<thead>
	<tr>
		<th>Username</th>
		<th>Full Name</th>
	</tr>
</thead>
<tbody></tbody>
</script>
<script id="editors-template" type="text/javascript">
<form role="form">
<div class="form-group">
	<label for="{{id}}" class="{{layout.label}}">{{label}}</label>
	<div class="{{layout.field}}">
	<input type="{{type}}" class="form-control" id="{{id}}" placeholder="{{placeholder}}">
	</div>
</div>
</form>
</script>